html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  width: 60rem;
  /* height: 80rem; */
  margin: 0 auto;
  margin-top: 10rem;
  /* background-color: rgb(241, 218, 7); */
  background-color: #ffe8f7;
}

.heading-main {
  font-size: 3rem;
  margin-top: -6rem;
}

.first-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 2rem;
}

.grid {
  background-color: #fff;
  display: grid;
  margin-bottom: 5rem;
}

.square {
  border: 0.08rem solid #000;
}

.input {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
