html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
}

.grid {
  background-color: antiquewhite;
  display: grid;
  gap: 3rem;
}

.single-square {
  height: 10px;
  background-color: green;
}
